/* Created by: Isaaq Simon
* Created on: Mar 2025
* This CSS file defines the style for index.html
* ICS2O-Unit2-04-HTML-JS-Area-of-a-Triangle
*/

body {
    background-color: rgb(20, 50, 220);
}

h1 {
    background-color: rgb(16, 192, 236);
    color: hsl(0, 63%, 32%);
    padding: 40px;
    text-align: center;
}

p {
    background-color: #ff00aa;
}